{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<h3 class="my-4 border-bottom pb-1">SignUp</h3>
	<div class="row">
		 <table class="table table-bordered">
            <form action="" method="post">
                {%csrf_token%}
                {{form}}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register" class="btn btn-primary">
                    </td>
                </tr>
         </table>
        </form>
	</div>
</main>
{% endblock %}